<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
<% if @post.user == @user %>
  <%= link_to "Edit this post", edit_user_post_path(@user.id,@post) %>
<% end %>
  <%= link_to "Back to posts", posts_path %>
<% if @post.user == @user %>
  <%= button_to "Destroy this post", @post, method: :delete %>
<% end %>
</div>
